.elementor-kit-5 {
  --e-global-color-primary: #0073e6;
  --e-global-color-secondary: #002935;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Roboto";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1320px;
}
.e-con {
  --container-max-width: 1320px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.tp-site-share {
  z-index: 30;
}
.tp-progress-wrap {
  box-shadow: inset 0 0 0 2px #ffffff;
  width: 40px;
  height: 40px;
  z-index: 30;
  bottom: 40px;
}
.tp-progress-wrap i {
  color: #0073e6;
}
.tp-progress-wrap svg.progress-circle path {
  stroke: #000000;
}
.tp-progress-wrap.pright {
  right: 40px;
}
.tp-progress-wrap.pleft {
  left: 40px;
}
.elementor-kit-5 .tp-reading-progress {
  top: 0;
}
.tp-quick-pop .quick-content {
  z-index: 2;
}
.tp-quick-pop .launcher {
  z-index: 2;
}
@media (max-width: 1024px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
